
docs/** linguist-vendored
html/** linguist-vendored
doxygen/** linguist-vendored

# Ignores every HTML, css, js files everywhere
*.html linguist-vendored
*.css linguist-vendored
*.js linguist-vendored
